In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [7]:
# Figure out the minimum and maximum views for a TED Talk
min_views=ted_df["views"].min()
max_views=ted_df["views"].max()
print("min views: " + str(min_views) +","+ " max views: " + str(max_views))

min views: 50443, max views: 47227110

In [13]:
# Create bins in which to place values based upon TED Talk views
bins1=[0,10000000,20000000,30000000,40000000,50000000]

# Create labels for these bins
group_labels=["Very Low","Low","Medium","High","Very High"]

In [18]:
# Slice the data and place it into bins
pd.cut(ted_df["views"],bins=bins1,labels=group_labels)

0       Very High
1        Very Low
2        Very Low
3        Very Low
4             Low
5          Medium
6        Very Low
7        Very Low
8        Very Low
9        Very Low
10       Very Low
11       Very Low
12       Very Low
13       Very Low
14       Very Low
15       Very Low
16       Very Low
17       Very Low
18       Very Low
19       Very Low
20       Very Low
21       Very Low
22       Very Low
23       Very Low
24       Very Low
25       Very Low
26       Very Low
27       Very Low
28       Very Low
29            Low
          ...
2520     Very Low
2521     Very Low
2522     Very Low
2523     Very Low
2524     Very Low
2525     Very Low
2526     Very Low
2527     Very Low
2528     Very Low
2529     Very Low
2530     Very Low
2531     Very Low
2532     Very Low
2533     Very Low
2534     Very Low
2535     Very Low
2536     Very Low
2537     Very Low
2538     Very Low
2539     Very Low
2540     Very Low
2541     Very Low
2542     Very Low
2543     Very Low
2544     Very Low
2545     Very Low
2546     Very Low
2547     Very Low
2548     Very Low
2549     Very Low
Name: views, Length: 2550, dtype: category
Categories (5, object): [Very Low < Low < Medium < High < Very High]

In [20]:
# Place the data series into a new column inside of the DataFrame
ted_df["view count"]=pd.cut(ted_df["views"],bins=bins1,labels=group_labels)
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,view count
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,Very High
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,Very Low
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,Very Low
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,Very Low
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,Low

In [22]:
# Create a GroupBy object based upon "View Group"
ted_grouped=ted_df.groupby("view count")

# Find how many rows fall into each bin
print(ted_grouped["comments"].count())

# Get the average of each column within the GroupBy object
ted_grouped.mean()

view count
Very Low     2516
Low            25
Medium          5
High            2
Very High       2
Name: comments, dtype: int64

              comments     duration  languages         views
view count
Very Low     180.67965   824.662162  27.108108  1.478591e+06
Low          753.76000   937.160000  42.400000  1.393779e+07
Medium       870.00000   918.600000  42.000000  2.124355e+07
High        1928.50000  1151.500000  48.500000  3.273879e+07
Very High   3421.50000  1213.000000  55.500000  4.519126e+07